---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Home Page";
---

<BaseLayout pageTitle={pageTitle}>
	<style>
		h1{
			color: purple;
			font-size: 4rem;
		}
	</style>
	
	<h2>My awesome blog subtitle</h2>
	<h2>Another one</h2>
</BaseLayout>